body{
    margin: auto;
    background-image: url(https://static3.abc.es/media/summum/2020/01/26/portada-kX0C--1200x630@abc.jpg);
    background-size: 100%;
    padding: 60px;
}

.padre2:hover{
    background-color: rgba(255, 255, 255, 0.233);
    padding-bottom: 20px;
}


